{{#if blogPost.edit }}
{{!-- <form id="edit-form">
    <div class="mb-3">
  <label for="blog-title" class="form-label" >Title</label>
  <input type="input" class="form-control" id="blog-title" value="{{blogPost.title}}" required>
</div>
<div class="mb-3">
  <label for="description" class="form-label">Content</label>
  <textarea class="form-control" id="description" rows="3" required>{{blogPost.description}}</textarea>
</div>
  <input type="hidden" id="blogId" value="{{blogPost.id}}">
  <button type="submit" class="btn btn-primary" id="updateBtn">Update</button>
</form> --}}
<div class="container-db">
  <div class="post">Edit my post</div>
  <div class="container-content">
    <form id="edit-form">
      <div class="input-container">
        <div class="entry-area">
          <input type="text" id="blog-title" value="{{blogPost.title}}" required>
          <div class="labelline">Title</div>
        </div>
      </div>
      <div class="input-container">
        <div class="entry-area">
          <textarea type="text" id="description" required>{{blogPost.description}}</textarea>
          <div class="labelline">Description</div>
        </div>
      </div>
      <input type="hidden" id="blogId" value="{{blogPost.id}}">
      <button type="submit" class="btn btn-primary" id="updateBtn">Update</button>
    </form>
  </div>
</div>


<script src="/js/editBlog.js"></script>


{{else}}

<form id="create-form">
    <div class="mb-3">
  <label for="blog-title" class="form-label" >Title</label>
  <input type="input" class="form-control" id="blog-title" placeholder="enter the title here!">
</div>
<div class="mb-3">
  <label for="description" class="form-label">Content</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/blog.js"></script>

{{/if}}