<button
  type="button"
  class="btn btn-outline-success"
  id="edit"
  data-id="{{blogData.id}}"
>Edit</button>
<button
  type="button"
  class="btn btn-outline-danger"
  id="delete"
  data-id="{{blogData.id}}"
>Delete</button>
{{blogData.title}}
{{blogData.description}}
{{#each blogData.comments as |comment|}}
  <div>
    <p>Description: {{comment.description}}</p>
    <p>Date Created: {{format_date comment.date_created}}</p>
    <p>Commented by: {{comment.user.name}}</p>
  </div>
{{/each}}
<script src="/js/dashboard.js"></script>

<div class="bg-container-db">
  <div class="container-db">
    <div class="post">{{blogData.title}} </div>
    <div class="btns-container">
      <button
        type="button"
        class="btn btn-outline-success"
        id="edit"
        data-id="{{blogData.id}}"
      >Edit</button>
      <button
        type="button"
        class="btn btn-outline-danger"
        id="delete"
        data-id="{{blogData.id}}"
      >Delete</button>
    </div>
    <div class="container-content">
      <div class="detail">{{blogData.description}}</div>

      <div class="comments">
      {{#each blogData.comments as |comment|}}
        <p>Description: {{comment.description}}</p>
        <p>Date Created: {{format_date comment.date_created}}</p>
        <p>Commented by: {{comment.user.name}}</p>
      {{/each}}
      </div>
    </div>
  </div>

</div>